
<div>
    <h2 class="d-flex justify-content-center" style="color:white; margin-top:60px;"></h2>
</div>
<div style="display:flex; flex-direction:column; justify-content:space-between;">

    <div class="d-flex justify-content-around" style="padding-bottom:30px;">
        <div style="border-color:antiquewhite;">
            <button style="background-color: rgb(54,61,70); border-radius:10px;">
                <img src="~/img/categoryImg/cardiovascular.png" style="height:200px; width:200px; " />
                <a class="nav-link" href="/Medicines/List/hearts/" style="font-size:larger;">Серцево-судинні</a>
            </button>
        </div>
        <div style="border-color:antiquewhite;">
            <button style="background-color: rgb(54,61,70); border-radius:10px;">
                <img src="~/img/categoryImg/medical.png" style="height:200px; width:200px; " />
                <a class="nav-link" href="/Medicines/List/anti_cold/" style="font-size:larger;">Протизастудні</a>
            </button>
        </div>
        <div style="border-color:antiquewhite;">
            <button style="background-color: rgb(54,61,70); border-radius:10px;">
                <img src="~/img/categoryImg/hair.png" style="height:200px; width:200px; " />
                <a class="nav-link" href="/Medicines/List/dermatological/" style="font-size:larger;">Дерматологічні</a>
            </button>
        </div>
        <div style="border-color:antiquewhite;">
            <button style="background-color: rgb(54,61,70); border-radius:10px;">
                <img src="~/img/categoryImg/vitamins.png" style="height:200px; width:200px; " />
                <a class="nav-link" href="/Medicines/List/vitamins/" style="font-size:larger;">Вітаміни</a>
            </button>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <div style="border-color:antiquewhite;">
            <button style="background-color: rgb(54,61,70); border-radius:10px;">
                <img src="~/img/categoryImg/hygiene.png" style="height:200px; width:200px; " />
                <a class="nav-link" href="/Medicines/List/anti_bacteries/" style="font-size:larger;">Антибактеріальні</a>
            </button>
        </div>
        <div style="border-color:antiquewhite;">
            <button style="background-color: rgb(54,61,70); border-radius:10px;">
                <img src="~/img/categoryImg/idea.png" style="height:200px; width:200px; " />
                <a class="nav-link" href="/Medicines/List/neurological/" style="font-size:larger;">Неврологічні</a>
            </button>
        </div>
        <div style="border-color:antiquewhite;">
            <button style="background-color: rgb(54,61,70); border-radius:10px;">
                <img src="~/img/drug.png" style="height:200px; width:200px; " />
                <a class="nav-link" href="/Medicines/List/" style="font-size:larger;">Всі ліки</a>
            </button>
        </div>
    </div>

</div>