@model Order

<div style="color: aliceblue;display:flex; justify-content: center; align-content: center; margin-top: 80px; margin-bottom: 450px;">
    <h3 style="color:aliceblue">Номер вашого замовлення @ViewBag.Message. Ви можете забрати ваше замовлення за адресою <br />
    місто Шпола, вулиця Общажна,14(будинок з вивіскою аптека)
    </h3>
</div>